$light0: #ffffff;
$light1: #fafafa;
$light2: #f5f5f5;
$light3: #eeeeee;
$light4: #e0e0e0;
$light5: #bdbdbd;

$dark5: #9e9e9e;
$dark6: #757575;
$dark7: #616161;
$dark8: #424242;
$dark9: #212121;
$dark10: #000000;

$blue1: #5b85d9;
$blue2: #567dcc;
$blue3: #4b6db3;
$blue4: #405e99;
$blue5: #3b568c;
$blue6: #202f4d;
$blue7: #0f1624;

$bluegray3: #90a4ae;

$green1: #deff33;
$green2: #bfe600;
$green3: #96b300;
$green4: #809900;
$green5: #607300;
$green6: #354000;

$lilac1: #b133ff;
$lilac2: #9f2ee6;
$lilac3: #8d29cc;
$lilac4: #8526bf;
$lilac5: #581980;
$lilac6: #2c0d40;

$lightLilac: #aa00ff;

$orange2: #ff622e;
$orange3: #cc4f25;
$orange4: #b34520;
$orange5: #8c3619;
$orange6: #4d1d0e;

/* ORIGINAL DESIGN */
$bg: #10121b;
$sidebar: #191d2b;
$mainBlueColor: #037fff;
$mainBorderColor: #2e344e;
/* $activeLinkColor: #222329; */
$fontColor: #a4acc4;
$fontColorDark: #212121;

$boxShadow4: 3px 3px 20px rgba(80, 78, 78, 0.5);
$boxShadow1: 1px 1px 4px rgba(80, 78, 78, 0.2);
